*{
    margin: 1%;
}

.MainNameCss
{
  color:rgb(131, 199, 26);
   font-weight: bolder; 
   margin-bottom:4%;
}
hr{
  height: 0.01px;
  background-color:gray;
  margin-bottom:5%;
}
.InputContainer{
  margin-right: 5%;
  margin-top:2%;
  width: 100%;
}
input{
  padding:2%;
  width: 100%;
  
}