<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">InfinityMesh |</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Leave</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">History</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button   class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button style="margin-left: 0.6%;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </div>
  </nav>
  
<div class="d-flex flex-row">


  <div class="container">
    <h2><span style="color:rgb(131, 199, 26);">Welcome</span>, {{User.Name}}</h2>
    <div class="card" style="width:405px">
      <img class="card-img-top" src="../../assets/images/avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{User.Department}} | {{User.JobTitle}}</h4>
        <p class="card-text">{{User.Email}}</p>
        <a href="#" class="btn btn-dark stretched-link">Edit Profile</a>
      </div>
    </div>
    <br>
  </div>
  
  <app-calendar class = "CalendarComponent"></app-calendar>

</div>

</body>